@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1, h2, h3 {
    color: #333;
    margin-bottom: 10px;
}

.event {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.event-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.event-description {
    margin-bottom: 10px;
    color: #555;
}

.event-likes {
    color: #888;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.button-container {
    text-align: right;
}

.button-container button {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #45a049;
}

.logout-link {
    display: inline-block;
    margin-top: 10px;
    color: #999;
    text-decoration: none;
}

.logout-link:hover {
    color: #666;
}
.like-button {
    padding: 8px 12px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.like-button:hover {
    background-color: #2980b9;
}


.events{
    display: flex;
    /* justify-content: flex-start; */
    /* align-content: flex-start; */
    flex-wrap: wrap;
    justify-content: center;
}